body {
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

canvas {
    display: block;
}

#fps-counter {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}
